<!--div class='panel panel-default'></div>
  <div class='panel-heading'>
    <h1 class='panel-title'>{{lawyers}}</h1>
  </div -->
  <div class='panel panel-default' style='max-width: 500px'>
      <div class='panel-heading'>
            <h1 class='panel-title'>{{court.courtTile}}</h1>
          </div>
        <div class='panel-body'>
        <div><h4>{{court.courtType}}</h4></div>
        <div><h4>{{court.address}}</h4></div>
        <div><h4>{{court.city}}</h4></div>
        <div><h4>{{court.pin}}</h4></div>
      </div>
      </div>
